body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px); 
  z-index: 10;
  background-image: url(../Imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: left;
  opacity: 1;
}

header h2 {
    color: #35113d;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cabecera {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.logo {
    width: auto;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid #140d2d;
    border-radius: 100%;
    background-color: #140d2d;
}

.logo:hover {
    box-shadow: 0px 0px 5px black;

}

nav {
    background-color: #140d2d;
    width: 200px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 160px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
}

nav ul li a:focus,
nav ul li a:active {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

nav ul li a:hover {
  background-color: #35113d;
  border-bottom-right-radius: 10px ;
  border-top-right-radius: 10px;
}

main {
    margin-left: 200px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    min-height: 100vh;
    flex-grow: 1;
}

footer {
  background-color: #20112d;
  color: white;
  text-align: center;
  margin-left: 180px;
  padding: 15px;
  text-decoration: none;
}

.seccion-libros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  margin-right: 30px;
}

.bloque-tema {
    margin-top: 140px;
    margin-left: 53px;
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.bloque-tema img {
  width: 90%;
  height: auto;
  margin-bottom: 0px;
}

.bloque-tema a {
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.bloque-tema a:hover {
  text-decoration: underline;
}