# App en runtime → POOLER (6543)
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=contraseña_segura_de_db
POSTGRES_PORT=6543
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${PO
STGRES_PORT}/${POSTGRES_DB}"

# Migraciones → CONEXIÓN DIRECTA (5432)
DIRECT_URL="postgresql://postgres:[password]@db.wjmuojssavymbiqezvfz.supabase.co:5432/postgres"

VITE_API_URL="http://localhost:3000"

JWT_SECRET="contraseña_hash_secreta"

JWT_SECRET_EXPIRES_IN="2h"